.contact {
  padding-top: 84px;
}
.contact__container{
    display: flex;
    align-items: center;
padding-bottom: 103px;
}
.contact__title {
  margin: 0;
  margin-bottom: 42px;
}
.contact__form {
  max-width: 445px;
}
.contact__input {
  width: 100%;
  padding: 0 58px 17px 20px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $juanBlue;
  margin-bottom: 17px;
  outline-color: $light_juanBlue;
  outline: none;
}
.contact__input::placeholder {
  color: $juanBlue;
}
.contact__messega {
  width: 100%;
  border: none;
  padding: 0 58px 64px 20px;
  background-color: transparent;
  border-bottom: 1px solid $juanBlue;
  outline: none;
  margin-bottom: 24px;
}
.contact__messega::placeholder {
  color: $juanBlue;
}
.contact__button_box {
  display: flex;
  align-items: center;
  gap: 50px;
}
.contact__input_list {
  max-width: 380px;
}
.contact__input_check {
  appearance: none;
}
.contact__button_box {
  position: relative;
  margin-bottom: 24px;
}
.contact__input_btn {
  position: absolute;
  left: 0px;
  height: 26px;
  width: 26px;
  opacity: 0.25;
  background-color: $juanBlue;
}
.contact__input_btn2 {
  background-color: #ba4270;
  background-repeat: no-repeat;
  background-image: url(../../img/checkWhite.svg);
  background-position: center;
  display: none;
  position: absolute;
  left: 0px;
  height: 26px;
  width: 26px;
}
.contact__input_check:checked ~ .contact__input_btn2 {
  display: block;
}
.contact__input_check:checked ~ .contact__input_btn {
  display: none;
}
.contact__submit{
    @include btn2;
    background-color: transparent;
}

.contact__content_title{
    color: #36536B;
font-family: DM Serif Display;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
letter-spacing: -0.185px;
opacity: 0.75;
max-width: 445px;
margin-bottom: 40px;
}
.contact__content_imgs{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(146px,1fr));
    gap: 30px;
text-align: center;
}

@media screen and (max-width:960px) {
  .contact__container{
    flex-direction: column;
  
  } 
  .contact__input_box{
    max-width: 573px;
    margin-left: auto;
    margin-right: auto;
  } 
  .contact__form{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
  }
 
}