.members{
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-image: url(../../img/aboutBg.svg);
    background-size: contain;
}
.members__img{
   width: 100%;
object-fit:contain;
margin-bottom: 64px;
}
.members__img2{
    width: 100%;
    object-fit:contain;
    display: none;
}
.members__desc{
 display: none;
    color: $light_juanBlue;
text-align: center;
font-family: Public Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 

}
.members__item{
    padding-top: 44px;
    padding-bottom: 16px;
    border-top: 1px solid $light_juanBlue;
    border-bottom: 1px solid $light_juanBlue;
width: 100%;
}
.members__list{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(340px,1fr));
    gap: 30px;
    margin-bottom: 65px;
}
.members__title{
    color: #BA4270;
font-family: DM Serif Display;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 72px; /* 128.571% */
letter-spacing: -0.431px;
}
@media screen and (max-width:803px) {
    .members__item{
        border:none;
        margin-bottom: 32px;
        padding: 0;
    }
   
    .members__list{
        text-align: center;
        padding-top: 44px;
    padding-bottom: 16px;
    border-top: 1px solid $light_juanBlue;
    border-bottom: 1px solid $light_juanBlue;
    gap: 0;
    margin-bottom: 48px;
    }
    .members__desc{
        display: block;
    }
.members__img2{
margin-bottom: 48px;
}
}
@media screen and (max-width:700px) {
.members__img2{
    display: block;
  margin-bottom: 48px;
}
.members__img{
    display: none;
}
.members{
    background: none;
}
}